:root {
  --theme-black-200-text-color:#222;
  --primary-color:#000;
  --theme-border-color:#eee;
  --theme-border-green-color:#eee;
  --theme-green-background-color:#6edbd5;
  --theme-green-disable-background-color:#aedfdd;
  --theme-white-text-color:#fff;
  --theme-black-text-color:#000;
  --theme-black-500-text-color:#050505;
  --theme-gray-700-text-color:#707070;
  --theme-gray-500-text-color:#555;
  --theme-link-text-color:#6edbd5;
  --theme-white-background-color:#fff;
}
